node_modules
npm-debug.log
*.db
*.db-shm
*.db-wal
build/
.idea/
.dart_tool/
.packages
pubspec.lock
README.md
setup.sh
ios/
android/
web/
test/
linux/
macos/
windows/
server/start.sh
server/serve.js
server/serve_web.sh
